body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;

}

.row {
    overflow: hidden;
}

.column {
      float:left;
      /* margin:1%; */
      /* border: gray solid 1px; */
      padding:1%;
      min-height:600px;
  }

  #column1 {
    overflow:hidden;
  }
  #column2 {
    overflow:hidden;
    border: 2px solid blue;
  }


#content {
    width:98%;
    min-height: 600px;
    border: 2px solid green;

    /* padding:1%; */
    float:left;
    overflow: auto;

}

#sidebar {

    /* width:98%; */
    /* padding: 2%; */

    min-height: 600px;
    overflow:hidden;
    /* width:auto; */
  }


  .contentdiv {
    /* min-width: 20%;
    max-width:90%; */
    width:auto;
    /* height: px; */
    margin: 1% ; 
    padding-left: 10px;
    float:left;
    border: solid 1px black;
    border-radius: 5px;
    overflow: hidden;
}

.contentbox {
  width: auto;
  min-height: 5px;
  padding: 5px;
  /* float: left; */
  margin:5px;
  /* display:inline; */
  border: 1px solid #aaaaaa;

  overflow:auto;

}

.warddiv {
    min-width: 40%;
    max-width:90%;
    /* height: px; */
    margin: 1% ; 
    padding-left: 10px;
    float:left;
    border: solid 1px black;
    border-radius: 5px;
    overflow: hidden;
}
  .wardbox {
    width: auto;
    min-height: 25px;
    padding: 5px;
    /* float: left; */
    margin:5px;
    /* display:inline; */
    border: 1px solid #aaaaaa;

    overflow:auto;
  
  }

  .sidebarelem {
    padding: 5px;
    width:auto;
    /* padding-left: 10px; */
    /* overflow: auto; */
    margin: 3%;
    
    border: solid 1px black;
    
}


.nurse {
    padding: 5px;
    width:auto;
    /* padding-left: 10px; */
    overflow: hidden;
    margin: 3%;
    
    border: solid 1px black;
    
}

table, th, td {
  border: 1px solid black;
}


