body {
  font-family: Arial, Helvetica, sans-serif;
  font-size: small;
  
}



input {
width: 35vw;
}
/* .class_name */
/* #id_name */
.row {
  overflow: hidden;
}

.column {
  float:left;
  /* margin:1%; */
  /* border: gray solid 1px; */
  padding:1%;

}

#navbar  {
  margin: 2px;
overflow: hidden;
float: left;
background-color: gray;
  }
#navbar button {
background-color: black;
color: white;
}

#column1 {
  overflow:scroll;
  float: left;
  min-height:600px;
}
#column2 {
  overflow:scroll;
  border: 2px solid black;
  background: lightsalmon;
  float: right;
  min-height:600px;

}


#content {
  width:98%;
  min-height: 600px;
  /* padding:1%; */
  float:left;
  overflow: scroll;
  
}




#sidebar {
  
  /* width:98%; */
  /* padding: 2%; */
  
  min-height: 600px;
  overflow:hidden;
  /* width:auto; */
}


.contentdiv {
  /* min-width: 20%;
  max-width:90%; */
  width:auto;
  /* height: px; */
  margin: 1% ; 
  padding-left: 10px;
  float:left;
  border: solid 1px black;
  border-radius: 5px;
  overflow: hidden;
}


.contentbox {
  width: auto;
  min-height: 5px;
  padding: 5px;
  /* float: left; */
  margin:5px;
  /* display:inline; */
  border: 1px solid #aaaaaa;
  
  overflow:auto;
  
}

.nursediv {
  /* min-width: 20%;
  max-width:90%; */
  width: 90%;
  height: 20 px;
  margin: 0% ; 
  vertical-align: center;
  padding-left: 10px;
  float:left;
  /* border: solid 1px #aaa; */
  overflow: hidden;
}
.nursecontentbox {
  /* max-width: 50%; */
  width: 35%;
  margin: 2px 2px 2px 2px;
  /* min-width: 80px; */
  height: 20px;
  padding: 2px;
  float: left;
  margin:0px;
  display:inline;
  border: 1px solid #aaaaaa;
  
  overflow:hidden;
  
}

.nurseeditbox {
  /* max-width: 50%; */
  min-width: 10px;
  /* min-width: 80px; */
  height: 20px;
  padding: 1px;
  
}

.warddiv {
  min-width: 40%;
  max-width:90%;
  /* height: px; */
  margin: 1% ; 
  padding-left: 10px;
  float:left;
  border: solid 1px black;
  border-radius: 5px;
  overflow: hidden;
}
.wardbox {
  width: auto;
  min-height: 25px;
  padding: 5px;
  /* float: left; */
  margin:5px;
  /* display:inline; */
  border: 1px solid #aaaaaa;
  
  overflow:auto;
  
}

.sidebarelem {
  padding: 5px;
  width:auto;
  /* padding-left: 10px; */
  /* overflow: auto; */
  margin: 3%;
  
  border: solid 1px black;
  
}


.nurse {
  padding: 5px;
  width:auto;
  /* padding-left: 10px; */
  overflow: hidden;
  margin: 3%;
  
  border: solid 1px black;
  
}

table, th, td {
  border: 1px solid black;
}



.tableDiv {
float:left;
display:block;
overflow:auto;
height:85vh;
width:95vw;
border: 1px dashed black;
background-color:lightyellow;
}

.tableEditDiv {
  float:left;
  display:block;
  overflow:100vh;
  height:auto;
  width:95vw;
  border: 1px solid black;
  background-color:lightyellow;
  }




  .open-button {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
    /* position: fixed; */
    bottom: 23px;
    right: 28px;
    width: 280px;
  }
  /* The popup form - hidden by default */
.form-popup {
  display: none;
  /* position: fixed; */
  bottom: 0;
  right: 15px;
  border: 3px solid #f1f1f1;
  z-index: 9;
  background-color: white;
}



